* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAEFBD;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.layout{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #22162B;
}

#reset {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #22162B;
    color: white;
    border: none;
    border-radius: 1rem
}

#newBtn {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #22162B;
    color: white;
    border: none;
    border-radius: 1rem

}

#msg {
    color: #124559;
    font-size: 5vmin;
}

.msg-container {
    margin: bottom;
    height: 30vmin;
}

.hide {
    display: none;
}
